In [ ]:
import pandas as pd
import re

# Load the CSV file
df = pd.read_csv('df_clean.csv')

# Display the column names
print(df.columns.tolist())

# Display the first 5 rows in a nice table
display(df.head())

['title_kuh', 'faculty_kuh', 'institute', 'term', 'ects_kuh', 'url_kuh', 'exam', 're_exam', 'code_kuh', 'code_trimmed', 'url_kuc', 'title_kuc', 'volume', 'education', 'content', 'learning_outcome', 'literature', 'recommended_prereq', 'teaching_methods', 'workload', 'feedback_form', 'signup', 'exam_html', 'language', 'course_code', 'ects_kuc', 'level', 'duration', 'placement', 'schedule', 'capacity', 'study_board', 'department', 'faculty_kuc', 'course_coordinators', 'last_modified', 'code_kuc']

,title_kuh,faculty_kuh,institute,term,ects_kuh,url_kuh,exam,re_exam,code_kuh,code_trimmed,...,duration,placement,schedule,capacity,study_board,department,faculty_kuc,course_coordinators,last_modified,code_kuc
0,Advanced Algorithms and Data Structures,Det Natur- og Biovidenskabelige Fakultet,Datalogisk Institut,s24/B4,"7,5",http://karakterstatistik.stads.ku.dk/Histogram...,NaN,NaN,NDAA09023E,NDAA09023,...,1 block,Block 2,C,No limitation – unless you register in the lat...,['Study Board of Mathematics and Computer Scie...,['Department of Computer Science'],['Faculty of Science'],['Amir Yehudayoff (4-6975816d486c7136737d366c7...,Saved on the 20-01-2025,NDAA09023U
1,Advanced Algorithms and Data Structures,Det Natur- og Biovidenskabelige Fakultet,Datalogisk Institut,s24/B4,"7,5",http://karakterstatistik.stads.ku.dk/Histogram...,NaN,NaN,NDAA09023E,NDAA09023,...,1 block,Block 2,C,No limitation – unless you register in the lat...,['Study Board of Mathematics and Computer Scie...,['Department of Computer Science'],['Faculty of Science'],['Jacob Holm (4-6d646b7243676c316e7831676e)'],Saved on the 24-02-2025,NDAA09023U
2,Advanced Algorithms and Data Structures,Det Natur- og Biovidenskabelige Fakultet,Datalogisk Institut,s24/B4,"7,5",http://karakterstatistik.stads.ku.dk/Histogram...,NaN,NaN,NDAA09023E,NDAA09023,...,1 block,Block 2,C,No limitation – unless you register in the lat...,['Study Board of Mathematics and Computer Scie...,['Department of Computer Science'],['Faculty of Science'],['Jacob Holm (4-6d646b7243676c316e7831676e)'],Saved on the 24-02-2025,NDAA09023U
3,Advanced Algorithms and Data Structures,Det Natur- og Biovidenskabelige Fakultet,Datalogisk Institut,s24/B4,"7,5",http://karakterstatistik.stads.ku.dk/Histogram...,NaN,NaN,NDAA09023E,NDAA09023,...,1 block,Block 2,C,No limitation – unless you register in the lat...,['Study Board of Mathematics and Computer Scie...,['Department of Computer Science'],['Faculty of Science'],['Amir Yehudayoff (4-6975816d486c7136737d366c7...,Saved on the 20-01-2025,NDAA09023U
4,Advanced Algorithms and Data Structures,Det Natur- og Biovidenskabelige Fakultet,Datalogisk Institut,v23/B2,"7,5",http://karakterstatistik.stads.ku.dk/Histogram...,"[{'grade': '12', 'count': 38}, {'grade': '10',...","[{'grade': '12', 'count': 3}, {'grade': '10', ...",NDAA09023E,NDAA09023,...,1 block,Block 2,C,No limitation – unless you register in the lat...,['Study Board of Mathematics and Computer Scie...,['Department of Computer Science'],['Faculty of Science'],['Amir Yehudayoff (4-6975816d486c7136737d366c7...,Saved on the 20-01-2025,NDAA09023U

In [ ]:
def split_coordinator(row):
    match = re.match(r"\['(.*)\s\((.*)\)'\]", str(row))
    if match:
        return pd.Series({'course_coordinator_name': match.group(1), 'course_coordinator_id': match.group(2)})
    else:
        return pd.Series({'course_coordinator_name': None, 'course_coordinator_id': None})

split_df = df['course_coordinators'].apply(split_coordinator)
df['course_coordinator_name'] = split_df['course_coordinator_name']
df['course_coordinator_id'] = split_df['course_coordinator_id']

# Now df has two new columns
display(df[['course_coordinator_name', 'course_coordinator_id']].head())
df.to_csv('coordinator_split.csv', index=False)

  course_coordinator_name           course_coordinator_id
0         Amir Yehudayoff  (4-6975816d486c7136737d366c73)
1              Jacob Holm  (4-6d646b7243676c316e7831676e)
2              Jacob Holm  (4-6d646b7243676c316e7831676e)
3         Amir Yehudayoff  (4-6975816d486c7136737d366c73)
4         Amir Yehudayoff  (4-6975816d486c7136737d366c73)

In [72]:
def unique_code_kuc_all_columns(df):
    """
    Returns a new DataFrame with all columns, keeping only the first occurrence of each unique code_kuc.
    """
    return df.drop_duplicates(subset=['code_kuc']).reset_index(drop=True)

# Example usage:
unique_df = unique_code_kuc_all_columns(df)
display(unique_df['course_coordinator_name'])
print(type(unique_df['course_coordinator_name'][0]))

0            Amir Yehudayoff
1          Panagiotis Karras
2           Troels Henriksen
3    Joanna Emilia Bergström
4              Stefan Sommer
5              Jens Petersen
6             Amartya Sanyal
Name: course_coordinator_name, dtype: object

<class 'str'>

In [73]:
unique_df.to_csv('unique_courses.csv', index=False)

In [74]:
print(unique_df['content'].str.len().max())

1553