In [2]:
import pandas as pd
import re

# Load the CSV file
df = pd.read_csv('df_clean.csv')

# Display the column names
#print(df.columns.tolist())
print(len(df))

# Display the first 5 rows in a nice table
#display(df.head())

192

In [ ]:
def split_coordinator(row):
    match = re.match(r"\['(.*)\s\((.*)\)'\]", str(row))
    if match:
        return pd.Series({'course_coordinator_name': match.group(1), 'course_coordinator_id': match.group(2)})
    else:
        return pd.Series({'course_coordinator_name': None, 'course_coordinator_id': None})

split_df = df['course_coordinators'].apply(split_coordinator)
df['course_coordinator_name'] = split_df['course_coordinator_name']
df['course_coordinator_id'] = split_df['course_coordinator_id']

# Now df has two new columns
display(df[['course_coordinator_name', 'course_coordinator_id']].head())
df.to_csv('coordinator_split.csv', index=False)

  course_coordinator_name           course_coordinator_id
0         Amir Yehudayoff  (4-6975816d486c7136737d366c73)
1              Jacob Holm  (4-6d646b7243676c316e7831676e)
2              Jacob Holm  (4-6d646b7243676c316e7831676e)
3         Amir Yehudayoff  (4-6975816d486c7136737d366c73)
4         Amir Yehudayoff  (4-6975816d486c7136737d366c73)

In [72]:
def unique_code_kuc_all_columns(df):
    """
    Returns a new DataFrame with all columns, keeping only the first occurrence of each unique code_kuc.
    """
    return df.drop_duplicates(subset=['code_kuc']).reset_index(drop=True)

# Example usage:
unique_df = unique_code_kuc_all_columns(df)
display(unique_df['course_coordinator_name'])
print(type(unique_df['course_coordinator_name'][0]))

0            Amir Yehudayoff
1          Panagiotis Karras
2           Troels Henriksen
3    Joanna Emilia Bergstr√∂m
4              Stefan Sommer
5              Jens Petersen
6             Amartya Sanyal
Name: course_coordinator_name, dtype: object

<class 'str'>

In [73]:
unique_df.to_csv('unique_courses.csv', index=False)

In [74]:
print(unique_df['content'].str.len().max())

1553